:root {
    --primary-color: #2d9d33;

    --bg-color: #f4f7fa;
    --bg-color2: #e0e0e0;
    --second-color: #333;
    --sidebar-bg: #ffffff;
    --sidebar-hover: #e6f0ff;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--second-color);
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-bg);
    overflow-x: hidden;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

}

.sidebar-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;

}

.sidebar-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--primary-color);
}

.toggle-btn {
    background: none;
    border: none;
    color: var(--second-color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.toggle-btn:hover {
    color: var(--primary-color);
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    color: var(--second-color);
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: var(--sidebar-hover);
    color: var(--primary-color);
}

.sidebar a i {
    min-width: 30px;
    font-size: 20px;
}

#main {
    transition: margin-left .3s;
    margin-left: 250px;
    flex: 1;

}

#main-content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

}

.sidebar.closed {
    width: 70px;
}

.sidebar.closed .sidebar-header h3 {
    display: none;
}

.sidebar.closed a span {
    display: none;
}

.sidebar.closed~#main {
    margin-left: 70px;
}

.bottom-navbar {
    display: none;
}

.top-socials {
    display: none;
}

.social-links {
    position: absolute;
    bottom: 0;

}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 70px;

    }

    .sidebar .sidebar-header h3 {
        display: none;

    }

    .sidebar a span {
        display: none;
    }

    .sidebar.open {
        width: 250px;

    }

    .sidebar.open .sidebar-header h3 {
        display: block;
    }

    .sidebar.open a span {
        display: inline;
        transition: 0.3s ease;
    }

    .sidebar.open~#main {
        margin-left: 250px;

    }

    .sidebar.closed~#main {
        margin-left: 0px;

    }
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        margin: 0;
    }



    #main {
        margin-left: 0;
        transition: left 0.3s ease;
    }

    .bottom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        height: auto;
        flex-wrap: nowrap;
    }

    .bottom-navbar .nav-item {
        flex: 1;
        text-align: center;
        margin: 0;
    }

    .bottom-navbar .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-navbar .nav-link small {
        font-size: 0.7rem;
        margin-top: 2px;
    }

    .bottom-navbar .nav-link.active {
        background-color: var(--primary-color);
        color: white;
        border-radius: 15px;
    }
    .bottom-navbar .nav-link.active small {
        font-weight: 700;
    }

    
    .bottom-navbar .nav-link {
        color: #333;
        
    }

    .bottom-navbar .nav-link:hover {
        color: var(--primary-color);
    }

    .bottom-navbar .nav-link.active:hover {
        color: #ffffff;
    }

    .top-socials {
        display: flex;
        justify-content: center;

        align-items: center;
        background-color: transparent;
        position: absolute;

        top: 30px;

        left: 0px;

        right: 0px;

        margin: 0;

        width: 100%;

        z-index: 10;

        height: auto;

        flex-wrap: nowrap;

    }

    .top-socials .nav-link {
        color: white;
        font-size: 20px;
        transition: .3s;
    }

    .top-socials .nav-link:hover {
        color: var(--primary-color);
        font-size: 22px;
    }

    .top-socials .nav {
        background-color: #333333aa;
        backdrop-filter: blur(5px);
        padding: 10px;
        border-radius: 10px;
    }


}




.cover-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/Norochcholai_CEB_training_1.jpg);
    position: relative;
    overflow: hidden;
}

.cover-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.607);
    z-index: 1;
}

.cover-section .container-fluid {
    position: relative;
    z-index: 2;
    color: #fff;
}

.cover-section .btn-container-wrapper {
    position: relative;
    z-index: 2;
}



.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
}


.about-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.skills-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.experience-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.projects-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.contact-section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}





.skill-card {
    background-color: var(--bg-color);
}

.skill-icon {
    font-size: 2rem;
}

.horizontal-card-stack {
    display: flex;
    overflow: hidden;
    width: 90%;
    
    gap: 10px;
    
}

.card-horizontal-1 {
    flex: 1;
    background: white;
    border-radius: 10px;
    
    overflow: hidden;
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    transition: flex 0.3s ease-in-out;
    position: relative; /* Added to position absolute child inside the card */
    
}
.card-horizontal-2 {

    filter: brightness(0.7);
    transition: filter 0.4s ease-in-out;
    
    
}

.card-horizontal-1 img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    
    
}



.card-horizontal-1:hover {
    flex: 2;
    transition: flex 0.3s ease;
    
}
.card-horizontal-2:hover {
    filter: brightness(0.9);
    
}

.horizontal-card-stack .card-horizontal-1:not(:hover) {
    flex: 1;
    transition: flex 0.3s ease;
}

/* Overlay text styling */
.overlay-exp {
    position: absolute;
    bottom: 4%;
    left: 10%;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    line-height: 0.8;
    z-index: 2;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}





.project-card {
    background-color: var(--bg-color);
}

.project-card-footer {
    background-color: var(--bg-color);
}


.btn-project-1 {
    background-color: var(--bg-color2);
    border: 1px;
    font-size: 1.1em;
    padding: 20px;
    border-radius: 5px;
    color: var(--second-color);
}

.btn-project-1:hover {
    background-color: brown;
}







.card-project-1 {
    position: relative;
    overflow: hidden;
    padding-bottom: 15px; /* Ensure space for description */
    border-radius: 0.4rem;
    height: 240px;
    
}
.card-project-1 img {
    height: 250px;
    object-fit: cover;
    border-radius: 0.4rem;
    filter: brightness(0.85);
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
    
}

.card-project-1:hover img {
    transform: scale(1.1); /* Zoom the image without changing card size */
    filter: brightness(1);
}

.card-project-1 .overlay-title {
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
.card-project-1 .overlay-date {
    position: absolute;
    top: 55px; /* Adjust for description spacing */
    left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
}
.card-project-1 .overlay-description {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
    color: #ffcaca; /* Subtle color for description */
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    padding: 5px 10px;
    border-radius: 5px;
}




.contact-card {
    background-color: var(--bg-color);
}





footer.fixed-bottom {

    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

